.menu {
    width: 80%;
    background-color: rgb(79, 216, 214);
    margin-left: 0px;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
    height: 400px;
    max-width:100px;
    text-align: left;
    position: fixed;
}

.navi {
    margin-left: 20px;
    margin-right: 0;
    background-color: rgb(17, 16, 16);
    height: 20px;
    padding: 10px;
    position: fixed;
}

.left {
    text-align: left;
}

.cl {
    margin-left:200px;
    margin-right:200px;
}  

.left2 {
    margin-left: 0px;
    margin-right: 200px;
}

.center {
    margin-left: 100px;
    margin-right: 200px
}

.cr {
    margin-left: 100px;
    margin-right: 200px
}
.right {
    margin-left: 0px;
}

a {
    color:rgb(255, 255, 255);
}

.active {
    color:tomato
}

a:hover {
     color:rgb(204, 104, 223)
}

#raid {
    margin-left: 1200px;
    margin-right: auto;
    padding: 10px;
    height:400px;
    max-width: 100px;
}

.profile {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}

.title {
    color:black;
    margin-top: 50px;
    text-align: center;
}

