.menu {
    width: 80%;
    background-color: black;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    height: 400px;
    max-width:100px;
    text-align: left;
    position: fixed;
}

.navi {
    margin-left: -7px;
    margin-right: -35px;
    margin-top: -30px;
    background-color: rgb(17, 16, 16);
    height: 20px;
    padding: 30px;
    width: 1450px;
    font-size: 30px;
    position: fixed;
}

.profile {
    margin-left: 60px;
    margin-right: 600px;
    margin-top: 40px;
}

.prhr {
    color:black;
    padding: 2px;
    background-color: black;
}

.left {
    text-align: left;
}

.cl {
    margin-left:200px;
    margin-right:200px;
}  

.left2 {
    margin-left: 0px;
    margin-right: 200px;
}

.center {
    margin-left: 100px;
    margin-right: 200px
}

.cr {
    margin-left: 100px;
    margin-right: 200px
}
.right {
    margin-left: 0px;
}

a {
    color:rgb(255, 255, 255);
}


a:hover {
     color:rgb(165, 95, 165);
     /*background-color: azure;
     padding:13px;*/
}

.art {
    color:black;
}

#raid {
    margin-left: 1350px;
    margin-right: auto;
    margin-top: -70px;
    padding: 10px;
    height: 350px;
    max-width:100px;
    position: fixed;
}

.title1 {
    /*margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;*/
    text-align: center;
}

.title {
    color:black;
    margin-top: 50px;
    text-align: center;
}

#home {
    text-align: center;
    margin-top: 55px;
    font-size: 30px;
}

#profile {
    background-color:yellow
}

#hidden1 {
    color: yellow
}

#table {
    margin-top: 80px;
    font-size: 22px;
}

#test {
    margin-top: 300px;
    Margin-left: 300px;
}

#tester {
    margin-top:900px;
}

#hometxt {
    margin-left: 180px ;
    margin-right: 500px ;
}

#faq {
    margin-right: 650px;
}